<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th>
            id
        </th>
        <th>
            model
        </th>
        <th>
            year
        </th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car: ${cars}">
        <td th:text="${car.id}">id</td>
        <td th:text="${car.model}">model</td>
        <td th:text="${car.year}">year</td>
    </tr>
    </tbody>
</table>
</body>
</html>